/*首页*/
#all{
	width:100%;
	min-width:100%;
	margin:0 auto;
}


.header1{
	width:100%;
	margin:0 auto;
	text-align:center;
	max-width:1080px;
}

.header{
	width: 100%;
	height:369px;
	overflow: hidden;
	margin-top: -200px;
}
.header .left{
	float: left;
	width: 39%;
	margin-top: 110px;
	padding-left: 5px;
}
.header .left h2{
	font-size: 15px;	
}
.header .left p{
	font-size: 8px;
}
.header .left h3{
	margin:5px 0 0 0;
	text-align: center;
}
.header .right{
	float: left;
	width: 56%;
	margin-top: 70px;
	border-left:1px dotted #000;
	padding:0 5px;
}

.colockbox{
	font-size: 14px;
	padding-top:20px;
	margin-bottom: 20px;
	color:#2828FF;
	background:#b9f8f5;
	font-family:Times New Roman;
	font-weight:bold;
}
.day,.hour,.minute,.second{
	display: inline-block;
	padding: 10px 15px;
	background: #01cbcb;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-right:6px;
	margin-left:6px;
	COLOR: #FFF;
} 

.help{
	background: #ffffff;
	width: 100%;
/*	height:340px;*/
	overflow: hidden;
	text-align: center;
	color:#fff;
	position: relative;
}
.help p{
	margin-top: 20px;
	font-size: 13px;
}
.help h2{
	font-size: 20px;
	line-height:24px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
	color:#063;
}
.helpdiv{height:230px;width: 100%;display: none;}
.help1{
	background: #ffd200;
	width: 190px;
	height: 190px;
	border-radius: 110px;
	margin:0 auto 10px;
	padding:6px;
}
.help2{
	background: #FFFFFF;
	width: 180px;
	height: 180px;
	border-radius: 100px;
	margin:0 auto;
	padding:5px;
}
.help3{
	background:#ffde00;
	width: 180px;
	height: 180px;
	line-height: 180px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 90px;
	margin:0 auto;
	overflow: hidden;
}
.help4 a{
	display: inline-block;
	padding:10px 15px;
	width: 35%;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	margin:10px 5px;
	border: 1px solid #eee;
	margin-bottom:20px;
	/*float:left;
	display: block;
	width: 50%;*/
}
.help4 a.a1{
	background: #ffde00;
	color:#ffea00;
}
.help4 a.a2{
	background: #ffde00;
	color:#ffea00;
}

.join h4{
	color:#68c3f4;
	font-size: 18px;
	text-align: center;
}
.join h2{
	color:#d55185;
	font-size: 24px;
	text-align: center;
}
.join p{
	margin:10px auto;
	padding:0 5px;
	font-size: 14px;
}
.join p span{
	color: #dc1f67;
}
.join p img{
	width: 100%;
}
.join p.join_p{
	padding:2px 0 0 18px;
	font-size: 16px;
	font-weight: bold;
}

.phb{
	height:40px;
	background:#fff5e0;
}
.phb p{
	height: 39px;
	line-height: 39px;
	background: url(../images/phb.jpg) no-repeat left center #fff ;
	color: #fff;
	font-size: 18px;
	padding-left:12px;
}
.phb p span{
	display: block;
	float: right;
	color: #333;
	font-size: 16px;
	padding-right:10px;
}

.list{
	background:#1eb5be; 
}
.list h2{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.list h4{width: 99%;overflow: hidden;background:#01cbcb;border-right:1px solid #02d3d3;border-top:1px solid #02d3d3;border-bottom:1px solid #02d3d3;}
.list h4 span,.list ul li span{display: block;float: left;width: 20%;text-align: center;color: #fff;font-weight: bold; border-left: 1px solid #02d3d3;padding:4px 0;}
.list_lh{max-height:2500px; overflow: hidden;border-right:1px solid #02d3d3;border-bottom:1px solid #02d3d3;width:99%; background:#fff;}
.list ul li{height: 25px;line-height: 25px;background:#1eb5be;}
.list ul li span{color: #fff;padding:0;}
.list_lh li.lieven{ background:#01cbcb;}
 .share a{
	display: inline-block;
	padding:5px 15px;
	width: 35%;
	font-size: 18px;
	color: #333;
	border-radius: 5px;
	font-weight: bold;
	margin:20px 5px 10px;
	border: 1px solid #eee;
	text-align: center;
	border:1px solid #ddd;
	background: #f8f8f8;
}
.list h3{

}

#footer{
	height: 40px;
	line-height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	background:#333;
	width: 100%;
	text-align: center;
}
#footer a{
	display: block;
	color: #fff;
	border-left:1px solid #000;
	font-size: 16px;
	float:left;
	width:40%;
	font-weight:bold;
}
#footer a.retrun{
	width:19%;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}


/**提示语**/
.fx_notice{
	width: 100%;
	padding:20px 0 0 0;
	background:#b9f8f5;
	z-index:8;
}
.fx_notice p{
	font-size: 18px;
	font-weight:bold;
	color:#0b48a3;
}

/**提示语**/
.notice1{
	width: 80%;
	margin:10px auto;
	padding:20px 0;
	background:rgba(76,55,237,.5);
	display: none;
	border-radius: 6px;
	z-index:8;
	position:relative;
	left:0px;
	top:0px;
}
.notice1 p,.notice2 p,.notice3 p{
	margin:5px auto;
	font-size: 14px;
}
.notice1 p span{
	color: #f00;
	font-size: 16px;
}
.notice2,.notice3{
	width: 90%;
	margin:10px auto;
	padding:20px 0;
	background:#01cbcb;
	border-radius: 6px;
	position: absolute;
	left:-999px;
	z-index:10;

}
.none{color: #fff;}
.notice2 input,.notice3 input{
	padding:4px 5px;
}
.notice2 .btn,.notice3 .btn{
	width: 80%;
	margin:10px auto;
	border:1px solid #e5e5e5;
	background:#b9f8f5;
	padding:6px 0;
	display: block;
	color: #fff;
	font-size: 16px;
}

.notice2 .btn1{
	width: 30%;
	margin:10px 10px;
	border:1px solid #01cbcb;
	background:#0756cd;
	padding:6px 6px;
	color: #fff;
	font-size: 16px;
}
