<div class="bjui-pageContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='kssj_input' class='control-label x85'>微信名:</label>{$Rs.weixin}</td></tr>
<tr><td><label for='jssj_input' class='control-label x85'>认证域名:</label>www.dscm.com</td><td><label for='uname_input' class='control-label x85'>js安全域名:</label>www.dscm.com</td></tr>
<tr><td><label for='bumen_input' class='control-label x85'>URL:</label>http://www.dscm.com.cn/xcrm/index.php?s=/wap/wxapi/index/id/2{$Rs.id}</td><td><label for='addtime_input' class='control-label x85'>token:</label>{$Rs.token}</td></tr>
   </tbody>
          </table>
        </div>
		<div class="bjui-footBar">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        </ul>
    </div>
</div>