<?php 
/**  纸风车儿童摄影  ID=42 参团活动 **/
function hidtel($phone){
         return  preg_replace('/(1[34578]{1}[0-9])[0-9]{4}([0-9]{4})/i','$1****$2',$phone);
 } 
//截取utf8字符串 
function utf8Substr($str, $from, $len) 
{  
return preg_replace('#^(?:[\x00-\x7F]|[\xC0-\xFF][\x80-\xBF]+){0,'.$from.'}'. 
'((?:[\x00-\x7F]|[\xC0-\xFF][\x80-\xBF]+){0,'.$len.'}).*#s', 
'$1',$str); 
} 
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>品牌展示-纸风车儿童摄影</title>
    <meta name="description" content="微信模板" />
    <meta name="keywords" content="" /> 
    <link href="__PUBLIC__/styles/default/css/base.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/styles/default/css/zfc.css?v=11" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__PUBLIC__/styles/default/js/jquery-1.8.0.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/styles/default/js/scroll.js" charset="utf-8"></script>

      
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
    debug: false,
    appId: '{$signPackage["appId"]}',
    timestamp: '{$signPackage["timestamp"]}',
    nonceStr: '{$signPackage["nonceStr"]}',
    signature: '{$signPackage["signature"]}',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      'onMenuShareTimeline','onMenuShareAppMessage'
    ]
  });
  wx.ready(function () {
    // 在这里调用 API
 
    wx.onMenuShareTimeline({
      title: "{$fx_user['name']}邀请您参加纸风车儿童摄影 年度感恩出品 金秋团拍来袭", // 分享标题
	  link: "http://www.dscm.com.cn__SELF__&fx_id={$fx_id}", // 分享链接
      desc: "纸风车儿童摄影年度感恩出品，网络定制套餐，团购价只需299元", // 分享描述
      imgUrl: "http://www.dscm.com.cn__PUBLIC__/styles/default/images/zfc_01.jpg", // 分享图标
      trigger: function () {
          //alert("点击分享：");
      },
      success: function () { 
          // 用户确认分享后执行的回调函数
          //alert("分享成功");
      },
      cancel: function () { 
          // 用户取消分享后执行的回调函数
          //alert("用户取消分享");
      }
    });
  
  	wx.onMenuShareAppMessage({
      title: "{$fx_user['name']}纸风车儿童摄影 年度感恩出品 金秋团拍来袭", // 分享标题
	  link: "http://www.dscm.com.cn__SELF__&fx_id={$fx_id}", // 分享链接
      desc: "纸风车儿童摄影年度感恩出品，网络定制套餐，团购价只需299元", // 分享描述
      	imgUrl: "http://www.dscm.com.cn__PUBLIC__/styles/default/images/zfc_01.jpg", // 分享图标
    	type: 'link', // 分享类型,music、video或link，不填默认为link
		success: function () { 
			// 用户确认分享后执行的回调函数  
		},
		cancel: function () { 
			// 用户取消分享后执行的回调函数
		}
	 });
  });
</script>
</head>
<body> 

    <div id="all">  
	
		<img src="__PUBLIC__/styles/default/images/zfc_09.jpg" width="100%" /> 
		<img src="__PUBLIC__/styles/default/images/zfc_10.jpg" width="100%" /> 
		<img src="__PUBLIC__/styles/default/images/zfc_011.jpg" width="100%" /> 
		<img src="__PUBLIC__/styles/default/images/zfc_012.jpg" width="100%" /> 
		<img src="__PUBLIC__/styles/default/images/zfc_12.jpg" width="100%" /> 
		<img src="__PUBLIC__/styles/default/images/zfc_13.jpg" width="100%" /> 
		
		<h3 style="height:40px;line-height:40px;color:#0548ad;padding-bottom:40px;background:#1eb5be;text-align: center;">素材火</h3>    
		
		<div id="footer"> 
		   <a href="http://www.dscm.com.cn/xcrm/index.php?s=/Wap/Tzhuli/index/hdid/{$hdid}" class="retrun"><img src="__PUBLIC__/styles/default/images/zfc_home.png" /></a>
           <a href="tel:0632-5386566">联系我们</a>
		   <a href="http://www.dscm.com.cn/xcrm/index.php?s=/Wap/Tzhuli/show/hdid/{$hdid}">品牌展示</a>
        </div>
		
    </div> 
</body>
</html>